<!-- Header start -->
<app-header></app-header>
<!-- Header end -->

<!-- Claim form start -->
<form>
    <div class="form-group col-5">
        <label for="claimId">Claim Id*</label>
        <input type="number" [(ngModel)]="statusClaimId" name="climId" class="form-control formLabel"
            placeholder="Claim Id" [ngClass]="{ 'is-invalid': submitted && f.claimId.errors }" />
    </div>
    <div class=" form-group col-5">
        <button type="button" pButton icon="pi pi-check" label="Status" (click)="onClimStatus()"></button>
    </div>
    <p-tabPanel header="My Claims" leftIcon="pi pi-user" rightIcon="pi pi-star">
        <p-table [columns]="reqCols" [value]="requests" [rows]="10">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                    <td class="tableHeader" *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-tabPanel>
</form>
<!-- Claim form end -->

<!-- Footer start -->
<app-footer></app-footer>
<!-- Footer end -->