<app-header></app-header>
<p-tabPanel header="My Claims" leftIcon="pi pi-user" rightIcon="pi pi-star">
    <p-table [columns]="reqCols" [value]="requests" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td class="tableHeader" *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-tabPanel>
<p-dialog header="Are you sure want to reject?" [(visible)]="display" [modal]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <b>Comments </b> <input type="text" pInputText [(ngModel)]="comments" size="41" />
    <p-footer>
        <button type="button" pButton icon="pi pi-check" (click)="reject()" label="Reject"></button>
        <button type="button" pButton icon="pi pi-times" (click)="display=false" label="Cancel"
            class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
<app-footer></app-footer>