<!-- Header start-->
<app-header></app-header>
<!-- Header end-->

<!-- Login form start -->
<div class="login-form">
    <form [formGroup]="loginForm">
        <div class="avatar">
            <img src="../assets/images/male-female-avatar-png-4-1.png" alt="Avatar">
        </div>
        <h2 class="text-center">Login</h2>
        <div class="form-group">
            <input type="text" class="form-control" formControlName="email" class="form-control" placeholder="E-Mail"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">E-Mail is required and must be a valid e-mail</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" formControlName="password" placeholder="Password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Password is required</div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block" (click)="onSubmit()">Sign in</button>
        </div>
    </form>
</div>-->
<!-- Login form end-->

<!-- Footer start -->
<app-footer></app-footer>
<!-- Footer end -->