<!-- Header start -->
<app-header></app-header>
<!-- Header end -->
<!-- Carousel start -->
<app-carousel></app-carousel>
<!-- Carousel end -->
<div>
    <p><strong class="web-content-sub-header" style="font-size: 16px;">Brief Description :</strong></p>
    <p>Mediclaim Insurance is a Health cover which takes care of medical expenses following Hospitalisation/Domiciliary
        Hospitalisation of the Insured in respect of the following situations:<br style="font-size: 14px;"> (A) In case
        of a sudden illness</p>
    <p style="font-size: 14px;">(B) In case of an accident</p>
    <p style="font-size: 14px;">(C) In case of any surgery which is required in respect of any disease which has arisen
        during the policy period.</p>
    <p style="font-size: 14px;">Individual Mediclaim policy will be available to any individual between the age of 18 to
        65 years (Extended to 70 years)&nbsp;for treatment in India.</p>
    <p>Now you can buy and renew policies Online. Buy a new Health Insurance policy, Renew an existing Oriental
        Insurance Mediclaim Health Insurance policy or renew policies bought from any other general insurance company by
        registering yourself on our Portal and paying online through your debit card / credit card or Net-banking. To
        check out various online facilities available, you may login on the Portal.<br style="font-size: 14px;"> &nbsp;
    </p>
    <p><strong class="web-content-sub-header" style="font-size: 16px;">The salient features of the policy are:</strong>
    </p>
    <p>(i) The Policy term is one year and is available to any proposer between the age of 18 to 65 years for treatment
        taken in India. The proposer can also get his family covered (as defined under 2.1).<br
            style="font-size: 14px;"> (ii) Maximum Entry age for any member, is 65years however, this can be extended
        upto 70 years. In such case, an additional premium of 10% (including on all future renewals) will be charged on
        applicable rates, including on Optional PA cover.<br style="font-size: 14px;"> (iii) Sum Insured (SI) available
        from Rs.1lac to Rs.10lacs.<br style="font-size: 14px;"> (iv) Pre-existing diseases covered after four
        consecutive renewals.<br style="font-size: 14px;"> (v) Life long renewals allowed.<br style="font-size: 14px;">
        (vi) Family discount of 10% (including on PA cover) if more than one person is covered under the policy.<br
            style="font-size: 14px;"> (vii) Option of voluntary co-payment of 10% and 20% with corresponding premium
        discount of 10% and 20% respectively on SI of Rs.2lacs and above. Voluntary co-payment does not apply on PA
        section.<br style="font-size: 14px;"> (viii) No medical examination for persons upto the age of 55 years.<br
            style="font-size: 14px;"> (ix) In case of fresh covers, 50% of the Pre-insurance medical check-up cost
        reimbursable, subject to acceptance of the Proposal.<br style="font-size: 14px;"> (x) Daily Hospital Cash
        allowance in case of more than 2 days of continuous hospitalisation.<br style="font-size: 14px;"> (xi)
        Hospitalisation expenses incurred for donating an organ by the donor (excluding cost of organ) to the insured
        person, is covered<br style="font-size: 14px;"> (xii) Ambulance charges covered<br style="font-size: 14px;">
        (xiii) Personal Accident available on optional basis for SI from Rs.2lacs to Rs.10lacs.<br
            style="font-size: 14px;"> (xiv) Free Look Period- A period of 15 days from the date of receipt of the policy
        to review the terms<br style="font-size: 14px;"> and conditions of the policy and return the same, if not
        acceptable.<br style="font-size: 14px;"> (xv) Grace period of 30 days is allowed for payment of renewal
        premium.<br style="font-size: 14px;"> (xvi) Premium adjustment at renewal, for the duration of OMP cover taken
        from Oriental.<br style="font-size: 14px;"> (xvii) Discount of 5.5% in premium if TPA services not opted for.
    </p>
    <p><strong class="web-content-sub-header" style="font-size: 16px;">Covered Risks:</strong></p>
    <p style="font-size: 14px;">This Health cover is a hospitalisation cover and reimburse the medical expenses incurred
        in respect of covered disease /surgery while the insured was admitted in the hospital as an in patient. The
        cover also extends to pre- hospitalsation and post- hospitalisation for periods of 30 days and 60 days
        respectively</p>
</div>
<!-- Footer start -->
<app-footer></app-footer>
<!-- Footer end -->